{
  "hooks": {
    "pre-commit": "npm run --silent lint && npm run --silent test && npm run --silent test:e2e",
    "pre-push": "npm run --silent lint && npm run --silent test && npm run --silent test:e2e"
  }
}
