$primary-lighter: #c2eedc;
$primary: #00a862;
$primary-darker: #44a07a;
$primary-darkest: #077749;
$grey-primary: #d8f2e7;

$red-lighter: #f4d6da;
$red: #ff5d73;
$red-darker: #d65b6c;
$red-darkest: hsl(352, 93%, 38%);

$yellow-lighter: hsl(45, 80%, 88%);
$yellow: #fed766;
$yellow-darker: #fdcb34;
$yellow-darkest: hsl(45, 99%, 30%);

$white: #f7f7f7;
$white-lighter: #f9f9f9;
$white-lightest: #ffffff;

$grey-darkest: #494949;
$grey-darker: #595959;
$grey-dark: #797979;
$grey: #e2e4e7;
$grey-light: #eff1f4;
$grey-lightest: #ebebeb;

$shadow: rgba(0, 0, 0, 0.2);
$shadow-lighter: rgba(0, 0, 0, 0.1);
$shadow-lightest: rgba(0, 0, 0, 0.05);

$font-heading: 'Hind', sans-serif;
$font-body: 'Open Sans', sans-serif;
